@font-face{
    font-family: "Circe";
    src: url(/font/Circe-Light.eot) format("eot"), 
         url(/font/Circe-Light.woff) format("woff"),
         url(/font/Circe-Light.ttf) format("truetype"),
         url(/font/Circe-Light.svg) format("svg");
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: "Circe-Bold";
    src: url(/font/Circe-Bold.eot) format("eot"), 
         url(/font/Circe-Bold.woff) format("woff"),
         url(/font/Circe-Bold.ttf) format("truetype"),
         url(/font/Circe-Bold.svg) format("svg");
    font-weight: 400;
    font-style: normal;
}


.title{}

.title_1{
    max-width: 1200px;
    height: 100px;
    margin-bottom: 12px;
    font-family: "Circe-Bold";
    line-height: 100px;
    font-size: 72px;
    color:#2E2E2E;
    letter-spacing: -0.01em;
}

.title_2{
    max-width: 50%;
    font-family: "Circe-Bold";
    font-size: 48px;
    letter-spacing: -0.01em;
    color: #2E2E2E;
    margin-top: 96px;
    margin-bottom: 40px;
    height: 71px;
    margin-right: 281px
}

.text{
    font-family: "Circe";
    line-height: 33px;
    font-size: 21px;
    color: #2E2E2E;
    margin-bottom: 40px;
}


.header{}

.header-nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 158px;
}

.logo{
    margin-left: 80px;
    margin-top:58px;
}

.logo_mb{
    display: none;
}


.menu{      
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 0;
    -webkit-box-align:end;
    -ms-flex-align:end;
    align-items:flex-end;
    height: 79px;
    list-style-type: none; 
}

.menu__item{}

.link{
    color: #4781ED;
    text-decoration: none;
    margin: 0 58px;
        font-family: "Circe-Bold";
    font-weight: bold;
    line-height: normal;
    font-size: 15px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

.menu__link{
    text-decoration: none;
    color:#2E2E2E;
    margin: 0 58px;
        font-family: "Circe-Bold";
    font-weight: bold;
    line-height: normal;
    font-size: 15px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    
}

.menu__link_radius{
    border-radius: 100%;
    color:white;
    background: #4781ED;
    padding : 18px 18px;
    margin: 0 100px 0 0  
}

/* Начала burger-menu */

.icon{
    display:none;
    width: 32px;
    height: 25px;
    position: relative;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 2s ease-in-out;
    transition: 2s ease-in-out;
    cursor: pointer;
}

.icon .span{
    display: block;
    position: absolute;
    height:3px;
    width: 100%;
    background:#2E2E2E;
    left: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ;
    transition: .25s ;
}

.icon .sp1{
    top:0px;
    -webkit-transform-origin: left center;
    transform-origin: left center;
}

.icon .sp2{
    top:9px;
    -webkit-transform-origin: left center;
    transform-origin: left center;
}

.icon .sp3{
  top: 18px;
  -webkit-transform-origin: left center;
    transform-origin: left center;
}

/* конец burger-menu */




.page{}

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}

.specifications{
    height:626px;
}

.specifications__text{
    width: 894px;
    height: 132px;
}

.sidebar{
    width: 350px;
    height: 100px;
    position: fixed;
    margin-left: 800px;
    margin-top: -525px;
}

.block-info{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    list-style-type: none;
    margin-left: 186px;
    border-left: 1px solid #D4D4D4;
    height: 160px;
    padding: 0;
}

.block-info__item{
    margin-left: 32px;
    margin-bottom: 24px
    
}

.block-info__link{
    position: relative;
    font-family: "Circe";
    line-height: normal;
    font-size: 18px;
    letter-spacing: -0.01em;
    text-decoration: none;
    color: #545454;

}

.block-info__item a::before{
    content: '';
    position: absolute;
    width: 4px;
    height: 20px;
    -webkit-transform: scaleY(0);
     transform: scaleY(0);
    background-color:cornflowerblue;
    -webkit-transition: 0.3s;
     transition: 0.3s;
    margin-left: -33px;
}

 .block-info__item a:hover::before{
    -webkit-transform: scaleY(1);
     transform: scaleY(1);
}


.specifications-menu{
    width: 807px;
    max-height: 350px;
    font-weight: bold;
}


.specifications-menu__item{
    list-style-image:url(/frame3/img/desh.jpg);
    font-family: "Circe-Bold";
    margin-bottom: 17px;
    line-height: 33px;
    font-size: 21px;
}



.ceilings{}
.ceilings__text{
    width: 924px;
    height: 297px;
}

.Unloading{
    width: 894px;
    height: 145px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 40px;
    
}


.Unloading-menu{
    width: 362px;
    height: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    -ms-flex-item-align: end;
    align-self: flex-end;
}

.Unloading-menu__text{
    font-family: "Circe";
    font-weight: bold;
    line-height: normal;
    font-size: 21px;
    letter-spacing: -0.01em;
    margin-left: 24px;
}

.Unloading-menu__icon{
    margin-left: 76px;
}

.table{
    width: 891px;
    border: 1px solid #CCCCCC;
    border-collapse: collapse;
    font-family: "Circe";
    line-height: 30px;
    font-size: 21px;
    letter-spacing: -0.01em;
    color: #2E2E2E;
}

.row{
    height: 74px;
}

.row__gray{
    height: 74px;
    background: #FAFAFA;
}

.col{
        font-family: "Circe-Bold";
    border: 1px solid #CCCCCC;
    text-align: center;
}

.grid__column{
        font-family: "Circe-Bold";
    max-width: 290px;
    padding-left: 34px;
    border: 1px solid #CCCCCC;
}

.map2{
    display: none;
}

.description{
    margin-top: 51px;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox
    
}

.description-block{
    width: 65px;
    height: 606px;
}

.img{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 48.5px;
}

.description-img{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 75px;
    margin-top: -10px;
}


.description-menu{
    width: 562px;
    height: 606px;
    margin: 0;

}


.description-menu__item{
    list-style-image: url(/frame3/img/desh2.jpg);
    list-style-position:inside;
    margin-bottom: 36px;
    letter-spacing: -0.01em;
    font-family: "Circe-Bold";
    font-size: 21px;
    color: #2E2E2E;
}



.footer_page{
        position: absolute;
        left: 0;
        right: 0;
}

.info{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 222px;
    background: #333333;
    margin-top: 196px;

}

.info-menu{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0;
}


.info-menu__item{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 104px;
    height:48px;
    list-style-type: none;
    line-height: 22px;
    font-size: 18px;
    font-family: "Circe";
}

.info-menu__icon{
    margin-right: 20px;
}

.info-menu__text{
    color: white;
}
.info-menu__phone{
    width: 144px;
}

.info-menu__copyright{
    width: 180px;
    height: 45px;
    line-height: 15px;
    font-size: 12px;
    text-align: right;
    letter-spacing: -0.01em;
    color: rgba(255, 255, 255, 0.45);
}

@media screen and (max-width: 1440px) {   
    .title{
        margin-top: 96px;
        margin-bottom: 40px;
    }
    
    .wrapper{
        max-width: 1064px;
        margin: 0 auto;
    }
    
    .specifications__text{
        width: 774px;
    }
    
    .block-info{
        margin-left: 140px;
    }
    
    .info{
        width:100%;   
    }
    
    .info-menu{
        max-width: 1064px;
        margin: 0 auto;
    }
    
    .info-menu__item{
        margin-right: 72px;
    }
    
    .info-menu__copyright{
        margin-left: 7px;
    }

}

@media screen and (max-width:1024px) {
    
    .header-nav{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        max-width: 824px;
        margin: 0 auto;
        margin-bottom: 148px;
    }        
    
    .menu__item{
        display: none;
    }
    
    .icon{
        display: inline-block;
    }
    
    .sidebar{
        display: none;
    }
    
    .wrapper{
        max-width: 824px;
        margin: 0 auto;  
    }

    
    .row{
      width: 780px;  
    }
    
    .row-page{
        width: 780px;
    }
    
   .info{ 
        width: 100%;
        height: 258px;
    }

     
    .info-menu{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        max-width: 890px;
        margin: 0 auto; 
    }
    
    .info-menu__item{
        max-width: 259px;
        margin: 0 auto;
        margin-top: 77px;
    }
    
    .info-menu__item_copyright{
        margin: 40px auto;
    }
    
    .info-menu__copyright{
        text-align: center;
        margin: 0;
    }


    
}

@media screen and (max-width: 375px)  { 
        
        .header-nav{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-pack: distribute;
            justify-content: space-around;
            max-width: 295px;
            margin: 0 auto;
            margin-top: 32px;
        } 
    
    
        .logo{
            display: none;
        }
    
        .logo_mb{
            display: block;
            width: 83px;
            height: 27px;
            margin-right: 180px;
        }
    
        .icon{;
            margin-bottom: 49px;
            width: 24px;
            height: 18px
         }
        
        .menu{
            padding: 0;
            margin: 0;
        }
        
        .wrapper{
            max-width: 295px;
            margin: 0 auto;
        }
    
        .Unloading{
            display: none;
        }
        .grid{
            display: none;
        }
        .Warehouses{
            display: none;
        }
    
        .text{
            font-family: "Circe";
            line-height: 20px;
            font-size: 14px;
            color: #2E2E2E;
            margin-bottom: 24px;
        }
    
        .title{
            width: 311px;
            height: 42px;
            line-height: 42px;
            font-size: 36px;
            letter-spacing: -0.01em;;
            margin-bottom: 24px;
    }
    .specifications__title{
        width: 290px;
        height: 60px;
        line-height: 60px;
        font-size: 40px;
    }
    
    .specifications__text{
        width: 311px;
        height: 160px;
    }
    
    .specifications-menu{
        width: 311px;
        height: 280px;
        list-style-position: inside;
        padding: 0;
    }
    
    .ceilings{
        margin-top:354px;
        margin-bottom: 48px;
    }
    
    .ceilings__text{
        width: 311px;
        height: 290px;
        margin: 0;
    }
    
    .diagram{}
    
    .map{
        display: none;
    }
    
     .map2{
        display:block;
        width: 311px;
        height: 179px;
    }
    
    .description-block{
        width: 43px;
        height: 656px;
    }
    
    .description-menu{
        width: 251px;
        height: 419px;
        margin-bottom: 124px
    }
    
    .description-menu__item{
    margin-bottom: 20px;
    line-height: 20px;
    font-size: 14px;
    }
    
    .description-img{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient : vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        margin-top: -10px;
        margin-bottom: 120%;
    }
    
    .img{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 50%;
    }
    
    .info{ 
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
        height: 435px;
        margin: 0;
    }

    .info-menu{
        max-width: 295px;
        margin: 44px auto;
        height: 315px;
        
    }


    .info-menu__item{
        height:48px;
        margin: 0;
    }

    .info-menu__copyright{
        margin-top: 66px;
        text-align: left;
        color: rgba(255, 255, 255, 0.45);
    }
}
