@font-face{
    font-family: "Circe";
    src: url(/font/Circe-Light.eot) format("eot"), 
         url(/font/Circe-Light.woff) format("woff"),
         url(/font/Circe-Light.ttf) format("truetype"),
         url(/font/Circe-Light.svg) format("svg");
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: "Circe-ExtraBold";
    src: url(/font/Circe-Bold.eot) format("eot"), 
         url(/font/Circe-Bold.woff) format("woff"),
         url(/font/Circe-Bold.ttf) format("truetype"),
         url(/font/Circe-Bold.svg) format("svg");
    font-weight: 400;
    font-style: normal;
}






.header{}
.header-nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 158px;
}

.logo{
    margin-left: 80px;
    margin-top:58px;
}

.logo_mb{
    display: none;
}


.menu{      
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 0;
    -webkit-box-align:end;
    -ms-flex-align:end;
    align-items:flex-end;
    height: 79px;
    list-style-type: none; 
}

.menu__item{}

.link{
    color: #4781ED;
    text-decoration: none;
    margin: 0 58px;
    font-family: "Circe-ExtraBold";
    font-weight: bold;
    line-height: normal;
    font-size: 15px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

.menu__link{
    text-decoration: none;
    color:#2E2E2E;
    margin: 0 58px;
    font-family: "Circe-ExtraBold";
    font-weight: bold;
    line-height: normal;
    font-size: 15px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    
}

.menu__link_radius{
    border-radius: 100%;
    color:white;
    background: #4781ED;
    padding : 18px 18px;
    margin: 0 100px 0 0  
}

/* Начала burger-menu */

.icon{
    display:none;
    width: 32px;
    height: 25px;
    position: relative;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 2s ease-in-out;
    transition: 2s ease-in-out;
    cursor: pointer;
}

.icon .span{
    display: block;
    position: absolute;
    height:3px;
    width: 100%;
    background:#2E2E2E;
    left: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ;
    transition: .25s ;
}

.icon .sp1{
    top:0px;
    -webkit-transform-origin: left center;
    transform-origin: left center;
}

.icon .sp2{
    top:9px;
    -webkit-transform-origin: left center;
    transform-origin: left center;
}

.icon .sp3{
  top: 18px;
  -webkit-transform-origin: left center;
    transform-origin: left center;
}

/* конец burger-menu */


.page{}

.wrapper{
    max-width: 1200px;
    margin: 0 auto; 
}

.title_1{
    font-family: "Circe-ExtraBold";
    line-height: 100px;
    font-size: 72px;
    letter-spacing: -0.01em;
    width: 400px;
    height: 100px;
    margin-bottom: 11px;
}

.title_2{
    font-family: "Circe-ExtraBold";
    font-size: 48px;
    letter-spacing: -0.01em;
    color: #2E2E2E;
    margin-top: 96px;
    margin-bottom: 40px;
}

.title_3{
    max-width:697px;
    height: 42px;
    margin-top: 38px;
    margin-bottom: 32px;
    font-family: "Circe-ExtraBold";
    font-size: 28px;
    letter-spacing: -0.01em;
}


.title_4{
    font-family: "Circe";
    max-width: 1200px;
    margin: 0;
    font-size: 28px;
    letter-spacing: -0.01em;
}

.text{
    font-family: "Circe";
    line-height: 33px;
    font-size: 21px;
    color: #2E2E2E;
    margin-bottom: 40px;
}


.company{
    height: 762px;
}


.text{
    font-family: "Circe";
    line-height: 33px;
    font-size: 21px;
    color: #2E2E2E;
    margin-bottom: 40px;
}

.company__text{
    font-family: "Circe";
    width: 894px;
    height: 66px;
    margin-bottom: 40px;
}

img{
    margin-bottom: 40px;
}

.company__img{
    width: 894px;
    height: 306px;
    margin-bottom: 40px;
}

.sidebar{
    position: fixed;
    width: 200px;
    height: 100px;
    margin-left: 816px;
    margin-top: -600px;
}

.block-info{
    border-left: 1px solid #D4D4D4;
    height: 115px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    list-style-type: none;
    margin-left: 200px;
    padding: 0;
}

.block-info__item{
    margin-bottom: 24px;
    margin-left: 24px;
}

.block-info__link{
    position: relative;
    font-family: "Circe";
    line-height: normal;
    font-size: 18px;
    letter-spacing: -0.01em;
    text-decoration: none;
    color: #545454;
}


 .block-info__item a::before{
    content: '';
    position: absolute;
    width: 4px;
    height: 20px;
    -webkit-transform: scaleY(0);
     transform: scaleY(0);
    background-color:cornflowerblue;
    -webkit-transition: 0.3s;
     transition: 0.3s;
    margin-left: -24px;
}

 .block-info__item a:hover::before{
    -webkit-transform: scaleY(1);
     transform: scaleY(1);
}

.progress{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.progress__img{
    width: 144px;
    height: 144px;
    margin-right: 60px;
}

.progress__text{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 547px;
    height: 99px;
}
.progress__img2{
    display: none;
}

.wrap{margin-top: -20px;}

.history{
    width: 894px;
}


.history__block{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 49px;
}

.history__number{
    width: 58px;
    height: 42px;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: -0.01em;
    color: #2E2E2E;
}

.history__text{
    width: 547px;
    height: 165px;
    margin-left: 146px;
}


.location{}

.vector{
  position: absolute;
  margin-top: 168px;
  margin-left: 848px;
}

.location__img2{
  display:none;
}



.location__text{
    width: 804px;
    height: 231px;
}


.documents{
    width: 894px;
}

.documents__text {
    list-style-image:url(/frame2/img/def.jpg);
    margin-bottom: 40px
}


.mark{
    font-weight: bold;
}



.hidden{ 
    max-width: 1200px;
    margin: 0 auto; 
}

.hidden__block{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 894px;
    cursor: pointer;
    border-bottom: 1px solid #CCCCCC;
}


.hidden__img{
    width: 16px;
    height: 9px;
    margin: 0;
}


.row-page{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    padding: 0 32px;
    width: 830px;
    height: 103px;
    background: #FAFAFA;
}

.text-description{
    max-width: 530px;
    font-family: "Circe";
    line-height: 24px;
    font-size: 21px;
    letter-spacing: -0.01em;
    color: #2E2E2E;
}

.button{
    font-family: "Circe";
    line-height: 33px;
    font-size: 21px;
    color: #4781ED;
}


.row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 830px;
    height: 103px;
    padding: 0 32px;

}

.footer_page{
        position: absolute;
        left: 0;
        right: 0;
}

.info{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 222px;
    background: #333333;
    margin-top: 196px;

}

.info-menu{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}


.info-menu__item{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 104px;
    height:48px;
    list-style-type: none;
    line-height: 22px;
    font-size: 18px;
    font-family: cursive;
}

.info-menu__icon{
    margin-right: 20px;
    margin-bottom: 0;
}

.info-menu__text{
    color: white;
}
.info-menu__phone{
    width: 144px;
}

.info-menu__copyright{
    width: 180px;
    height: 45px;
    line-height: 15px;
    font-size: 12px;
    text-align: right;
    letter-spacing: -0.01em;
    color: rgba(255, 255, 255, 0.45);
}


@media screen and (max-width: 1440px) {  
    
    .title{
        margin-top: 120px;
        margin-bottom: 40px;
    }
    
    .wrapper{
        max-width: 1030px;
        margin: 0 auto;
    }
    
    .company__img{
        width: 804px;
    }
    
    .hidden{ 
        max-width: 1030px;
        margin: 0 auto;
    }
    
    .block-info{
        margin-left: 166px;
    }
    
     .info{
        width:100%;   
    }
    
    .info-menu{
        max-width: 1064px;
        margin: 0 auto;
    }
    
    .info-menu__item{
        margin-right: 72px;
    }
    
    .info-menu__copyright{
        margin-left: 7px;
    }

}


@media screen and (max-width:1024px) {
    
    .header-nav{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        max-width: 824px;
        margin: 0 auto;
        margin-bottom: 148px;
    }    
    
 .menu__item{
        display: none;
    }
    
    .icon{
        display: inline-block;
    }
    
    .sidebar{
        display: none;
    }
    
    .wrapper{
        max-width: 824px;
        margin: 0 auto;  
    }
    
      
    .company__text{
        width: 840px;
        height: 66px;
        margin-bottom: 40px;
    }
    
    .company__img{
        width: 840px;
        height: 306px;
        margin-bottom: 40px;
    }
    
    .progress{
       max-width: 721px;
    }
    
    .hidden{ 
        max-width: 824px;
        margin: 0 auto; 
    }
    
    .hidden__block{
        width: 840px;
    }
    
   .info{ 
        width: 100%;
        height: 258px;
    }

     
    .info-menu{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        max-width: 890px;
        margin: 0 auto; 
    }
    
    .info-menu__item{
        max-width: 259px;
        margin: 0 auto;
        margin-top: 77px;
    }
    
    .info-menu__item_copyright{
        margin: 40px auto;
    }
    
    .info-menu__copyright{
        text-align: center;
        margin: 0;
    }
    
}

@media screen and (max-width: 375px)  { 
    
      .header-nav{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-pack: distribute;
            justify-content: space-around;
            max-width: 295px;
            margin: 0 auto;
            margin-top: 32px;
        } 
    
    
        .logo{
            display: none;
        }
    
        .logo_mb{
            display: block;
            width: 83px;
            height: 27px;
            margin-right: 180px;
        }
    
        .icon{;
            margin-bottom: 49px;
            width: 24px;
            height: 18px
         }
        
        .menu{
            padding: 0;
            margin: 0;
        }
        
        .wrapper{
            max-width: 295px;
            margin: 0 auto;
        }
    
        .company__title{
            width: 224px;
            height: 60px;
            margin-bottom: 11px;
            font-family: Circe;
            line-height: 60px;
            font-size: 40px;
            letter-spacing: -0.01em;
        }
    
        .text{
            font-family: Circe;
            line-height: 20px;
            font-size: 14px;
            color: #2E2E2E;
            margin-bottom: 24px;
        }

        .company__text{
            width: 311px;
            margin-bottom: 40px;
        }
    
        .company__img{
            width: 311px;
            height: 147px;
        }
        
        .company{
            height: 520px;
        }
        
        .history__img{
            display: none;
        }
        
        .history__title{
            width: 311px;
            line-height: 42px;
            font-size: 36px;
        } 
        .history__block{
            display: flex;
            flex-direction: column;
        }
    
    
        .history__number{
            width: 37px;
            height: 27px;
            font-size: 18px;
        }
        
        .history__text{
            width: 311px;
            height: 120px;
            margin: 0;
        }
    
    
    
        .title{
            line-height: 42px;
            font-size: 36px;
            letter-spacing: -0.01em;
            color: #2E2E2E;
            margin-top: 64px;
            margin-bottom: 24px;
        }
        .progress__title{
            line-height: normal;
            font-size: 18px;
            letter-spacing: -0.01em;
        }
    
        .progress__text{
            display: flex;
            flex-wrap: wrap;
            width: 227px;
            height: 120px;
        }
        .progress__img{
            display: none;
        }
    
        .progress__img2{
            display: block;
            width: 72px;
            height: 72px;
            margin-right: 12px;
        }
        
        .location__title{
            width: 311px;
            height: 42px;
        }
        
        .vector{
            position: absolute;
            margin-top: 168px;
            margin-left: 848px;
        }
        
        .location__img{
            display: none;
        }
        .location__img2{
            display:flex;
            width: 311px;
        }
        
        .location__text{
            width: 311px;
            height: 260px;
        }
        
        .documents{
            width: 375px;
        }
        .documents-block{
            width: 324px;
            height: 80px;
        }
    
        .documents-text{
            width: 311px;
            height: 500px;
            padding: 0;
        }
    
        .documents__text {
            list-style-image:url(/frame2/img/def.jpg);
            list-style-position:inside;
            margin-bottom: 30px;
        }
    
    
        
    .row-page{
        padding: 20px 15px;
        width: 300px;
        height: 56px;
    }
    
    .row{
        padding: 10px 15px;
        width: 300px;
        height: 56px;

    }
    
    .text-description{
        max-width: 177px;
        line-height: 16px;
        font-size: 14px;
    }

    .button{
        line-height: 20px;
        font-size: 14px;
    }
    .hidden{ 
        max-width: 295px;
        margin: 0 auto;
    }
    .hidden__block{
        width: 311px;
    }
    .hidden__title{
        width: 251px;
        height: 52px;
        font-size: 18px;
        letter-spacing: -0.01em;
        margin-bottom: 0;
    }
    
    .hidden__img{
        margin-bottom: 0;
        margin-top: 7px;
    }
    
     .info{ 
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
        height: 435px;
    }

    .info-menu{
        max-width: 295px;
        margin: 44px auto;
        height: 315px;
        
    }


    .info-menu__item{
        height:48px;
        margin: 0;
    }

    .info-menu__copyright{
        margin-top: 66px;
        text-align: left;
        color: rgba(255, 255, 255, 0.45);
    }
}






