@font-face{
    font-family: "Circe";
    src: url(/font/Circe-Light.eot) format("eot"), 
         url(/font/Circe-Light.woff) format("woff"),
         url(/font/Circe-Light.ttf) format("truetype"),
         url(/font/Circe-Light.svg) format("svg");
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: "Circe-Bold";
    src: url(/font/Circe-Bold.eot) format("eot"), 
         url(/font/Circe-Bold.woff) format("woff"),
         url(/font/Circe-Bold.ttf) format("truetype"),
         url(/font/Circe-Bold.svg) format("svg");
    font-weight: 400;
    font-style: normal;
}


.title_1{
    font-family: "Circe-Bold";
    width: 218px;
    height: 107px;
    font-size: 72px;
    letter-spacing: -0.01em;
    color: #2E2E2E;
    margin-bottom: 40px;
}

.title__3{
        font-family: "Circe-Bold";;
    line-height: normal;
    font-size: 28px;
    letter-spacing: -0.01em;
    color: #2E2E2E;
    margin-bottom: 24px;
}

.header-nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 158px;
    white-space: nowrap;
}

.logo{
    margin-left: 80px;
    margin-top:58px;
}

.logo_mb{
    display: none;
}


.menu{      
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 0;
    -webkit-box-align:end;
    -ms-flex-align:end;
    align-items:flex-end;
    height: 79px;
    list-style-type: none; 
}

.menu__item{}

.link{
    color: #4781ED;
    text-decoration: none;
    margin: 0 58px;
    font-family: "Circe-Bold";
    font-weight: bold;
    line-height: normal;
    font-size: 15px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

.menu__link{
    text-decoration: none;
    color:#2E2E2E;
    margin: 0 58px;
    font-family: "Circe-Bold";
    font-weight: bold;
    line-height: normal;
    font-size: 15px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    
}

.menu__link_radius{
    border-radius: 100%;
    color:white;
    background: #4781ED;
    padding : 18px 18px;
    margin: 0 100px 0 0  
}
/* Начала burger-menu */

.icon{
    display:none;
    width: 32px;
    height: 25px;
    position: relative;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 2s ease-in-out;
    transition: 2s ease-in-out;
    cursor: pointer;
}

.icon .span{
    display: block;
    position: absolute;
    height:3px;
    width: 100%;
    background:#2E2E2E;
    left: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ;
    transition: .25s ;
}

.icon .sp1{
    top:0;
    -webkit-transform-origin: left center;
    transform-origin: left center;
}

.icon .sp2{
    top:9px;
    -webkit-transform-origin: left center;  
    transform-origin: left center;
}

.icon .sp3{
  top: 18px;
  -webkit-transform-origin: left center;
    transform-origin: left center;
}

/* конец burger-menu */



.page{}

.wrapper{
 margin: 0 auto;
 max-width: 1200px;
}

.services{} 

.basicservices{} 

.menu-block{
    margin-bottom: 80px;
}

.menu-block__item{
    margin-bottom: 16px;
    list-style-image: url(/frame4/img/def.jpg);
    font-family: "Circe";
    line-height: 33px;
    font-size: 21px;
}

.footer_page{
        position: absolute;
        left: 0;
        right: 0;
}

.info{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 222px;
    background: #333333;

}

.info-menu{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0;
}


.info-menu__item{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 104px;
    height:48px;
    list-style-type: none;
    line-height: 22px;
    font-size: 18px;
    font-family: "Circe";
}

.info-menu__icon{
    margin-right: 20px;
}

.info-menu__text{
    color: white;
}
.info-menu__phone{
    width: 144px;
}

.info-menu__copyright{
    width: 180px;
    height: 45px;
    line-height: 15px;
    font-size: 12px;
    text-align: right;
    letter-spacing: -0.01em;
    color: rgba(255, 255, 255, 0.45);
}

@media screen and (max-width: 1440px) {
    .title{
        margin-bottom: 40px;
    }
    .logo_mb{
        display: none;
    }
    .wrapper{
       max-width: 1064px;
       margin: 0 auto;
       margin-bottom: 196px;
    }
    
    .info{
        width: 100%;
    }
    
    .info-menu{
       max-width: 1064px;
       margin: 0 auto;
    }
    
    .info-menu__item{
        width: 259px;
        margin-right: 72px;
    }
    
    .info-menu__copyright{
        margin-left: 7px;
    }

}

@media screen and (max-width: 1024px) {
    
    .header-nav{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        max-width: 824px;
        margin: 0 auto;
        margin-bottom: 148px;
    }    
    
    .menu__item{
        display: none;
    }
    
    .logo{
        margin-left: 0;
    }
    
    .logo_mb{
        display: none;
    }
    
    .icon{
        display: block;
    }
    
      .wrapper{
        max-width: 824px;
        margin: 0 auto;  
    }
    
    
    .info{ 
        width: 100%;
        height: 258px;
    }

     
    .info-menu{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        max-width: 890px;
        margin: 0 auto; 
    }
    
    .info-menu__item{
        max-width: 259px;
        margin: 0 auto;
        margin-top: 77px;
    }
    
    .info-menu__item_copyright{
        margin: 40px auto;
    }
    
    .info-menu__copyright{
        text-align: center;
        margin: 0;
    }

    
}

@media screen and (max-width: 375px)  { 
        
        .header-nav{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-pack: distribute;
            justify-content: space-around;
            max-width: 295px;
            margin: 0 auto;
            margin-top: 32px;
        } 
    
    
        .logo{
            display: none;
        }
    
        .logo_mb{
            display: block;
            width: 83px;
            height: 27px;
            margin-right: 180px;
        }
    
        .icon{;
            margin-bottom: 49px;
            width: 24px;
            height: 18px
         }
        
        .menu{
            padding: 0;
            margin: 0;
        }
        
        .wrapper{
            max-width: 295px;
            margin: 0 auto;
            margin-top: -40px;
        }

        .title{
            width: 311px;
            height: 42px;
            line-height: 42px;
            font-size: 36px;
            letter-spacing: -0.01em;;
            margin-bottom: 24px;
            margin-top: 79px;
        }
    .title__h3{
        width: 200px;
        height: 27px;
        font-size: 18px;
        margin-bottom: 16px;
    }
    .menu-block{
        width: 311px;
        margin-bottom: 49px;
        padding: 0;
    }
    
    .menu-block__item{
        margin-bottom: 12px;
        line-height: 20px;
        font-size: 14px;
        list-style-position: inside;
    }
    
    .info{ 
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
        height: 435px;
        margin-top: 114px;
    }

    .info-menu{
        max-width: 295px;
        margin: 44px auto;
        height: 315px;
        
    }


    .info-menu__item{
        height:48px;
        margin: 0;
    }

    .info-menu__copyright{
        margin-top: 66px;
        text-align: left;
        color: rgba(255, 255, 255, 0.45);
    }
}