@font-face{
    font-family: "Circe";
    src: url(/font/Circe-Light.eot) format("eot"), 
         url(/font/Circe-Light.woff) format("woff"),
         url(/font/Circe-Light.ttf) format("truetype"),
         url(/font/Circe-Light.svg) format("svg");
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: "Circe-Bold";
    src: url(/font/Circe-Bold.eot) format("eot"), 
         url(/font/Circe-Bold.woff) format("woff"),
         url(/font/Circe-Bold.ttf) format("truetype"),
         url(/font/Circe-Bold.svg) format("svg");
    font-weight: 400;
    font-style: normal;
}

.header{}
.header-nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 158px;
    white-space: nowrap;
}

.logo{
    margin-left: 80px;
    margin-top:58px;
}

.logo_mb{
    display: none;
}


.menu{      
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 0;
    -webkit-box-align:end;
    -ms-flex-align:end;
    align-items:flex-end;
    height: 79px;
    list-style-type: none; 
}

.menu__item{}

.link{
    color: #4781ED;
    text-decoration: none;
    margin: 0 58px;
    font-family: "Circe-Bold";
    font-weight: bold;
    line-height: normal;
    font-size: 15px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

.menu__link{
    text-decoration: none;
    color:#2E2E2E;
    margin: 0 58px;
        font-family: "Circe-Bold";
    font-weight: bold;
    line-height: normal;
    font-size: 15px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    
}

.menu__link_radius{
    border-radius: 100%;
    color:white;
    background: #4781ED;
    padding : 18px 18px;
    margin: 0 100px 0 0  
}
/* Начала burger-menu */

.icon{
    display:none;
    width: 32px;
    height: 25px;
    position: absolute;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 2s ease-in-out;
    transition: 2s ease-in-out;
    cursor: pointer;
}

.icon .span{
    display: block;
    position: absolute;
    height:3px;
    width: 100%;
    background:#2E2E2E;
    left: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ;
    transition: .25s ;
}

.icon .sp1{
    top:0;
    -webkit-transform-origin: left center;transform-origin: left center;
}

.icon .sp2{
    top:9px;
    -webkit-transform-origin: left center;transform-origin: left center;
}

.icon .sp3{
  top: 18px;
  -webkit-transform-origin: left center;transform-origin: left center;
}

/* конец burger-menu */



.page{}

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}



.title_1{
        font-family: "Circe-Bold";
    font-size: 72px;
    letter-spacing: -0.01em;
    color: #2E2E2E;
    margin-bottom: 48px;
}

.contacts-block1{
    max-width: 1200px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 72px;
}

.contacts-block2{
    max-width: 1200px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.title_3{
        font-family: "Circe-Bold";
    line-height: normal;
    font-size: 28px;
    letter-spacing: -0.01em;
    color: #2E2E2E;
    margin-bottom: 16px;
}

.text{
    font-family: "Circe";
    line-height: 34px;
    font-size: 22px;
    color: #2E2E2E; 
}


.block-text{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.block-text__color{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 48px;
    font-family: "Circe";
    line-height: 34px;
    font-size: 22px;
    color: #4781ED;
}

@media screen and (max-width: 1440px) {
    .title{
        margin-bottom: 0;
    }
    .logo_mb{
            display: none;
    }
    
    .wrapper{
       max-width: 1100px;
        margin: 0 auto;
    }
    
    .contacts-block1{
        max-width: 1100px;
        margin: 42px auto;
    }
    
    .contacts-block2{
        max-width: 1100px;
        margin: 0 auto;
    }
}


@media screen and (max-width:1024px) {
    
    .header-nav{
        max-width: 824px;
        margin: 0 auto;
        margin-bottom: 337px;
    }    
    
    .logo{
        margin-left: 0;
        margin-top: 87px;
    }
    
    .menu__item{
        display: none;
    }
    
    .logo_mb{
            display: none;
    }
    
    .icon{
        display: block;
        margin-top: 35px;
    }
    
      .wrapper{
        max-width: 834px;
        margin: 0 auto; 
    }
    
     .contacts-block1{
        max-width: 834px;
        margin: 72px auto; 
    }
    
    .contacts-block2{
        max-width: 834px;
        margin: 0 auto; 
    }
    
    
}

@media screen and (max-width: 375px)  {
        
        .header-nav{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            max-width: 295px;
            margin: 0 auto;
        } 
    
    
        .logo{
            display: none;
        }
    
        .logo_mb{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            margin-right: 204px;
            margin-top: 32px;
        }
    
        .icon{;
            margin: 0;
            width: 24px;
            height: 18px
         }
        
        .menu{
            padding: 0;
            margin-top: -20px;
        }
        
        .wrapper{
            max-width: 301px;
            margin: 0 auto;
        }

        .title{
            width: 182px;
            height: 60px;
            line-height: 60px;
            font-size: 40px;
            letter-spacing: -0.01em;;
            margin-bottom: 24px;
            margin-top: 79px;
        }
    
        .title__h3{
            width: 311px;
            height: 27px;
            font-size: 18px;
            margin-bottom: 16px;
        }
    
        .text{
            width: 311px;
            height: 40px;
            line-height: 20px;
            font-size: 14px;
            margin-bottom: 32px;
        }
        .block-text__color{
            line-height: 20px;
            font-size: 14px;
            margin-bottom: 32px;
        }
        .contacts-block1{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            max-width: 301px;
            margin: 0 auto;
        }
            .contacts-block2{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            max-width: 301px;
            margin: 0 auto;
        }
    
        .block-text_position{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
        }
        
        .text-color_position{
            margin: 0;
        }
} 
